<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wafer fault detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <!-- Navigation -->
	<nav class="navbar navbar-light bg-light static-top">
		<div class="container-fluid justify-content-center" >
			<h3>Wafer Fault Detection</h3>
		</div>
	</nav>
	<div>
		<h4>Model to predict the quality of wafer sensors</h4>
	</div>
    <section class="testimonials text-center">
		<div class="container-fluid ">
			<h4 class="my-4 title">Prediction</h4>
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<br/>
					<form action= "/predict" method="POST" id="datafetch_form" enctype="multipart/form-data">
						<div class="mb-3">
  							<input class="form-control" type="file" id="formFile" name ="file" multiple>
						</div>

						<div class=""><button class="form-control btn-primary" id="customfile" type="submit">Custom File Predict</button></div>
						<br/><center><b>Or</b></center><br/>
						<button class="form-control btn-primary mb-5" id="defaultfile" data-path = "Prediction_Batch_files">
							Default File Predict
						</button>
					</form>
				</div>

				<div class="res-container  col-md-6 col-xs-12">
					<div class="result-box shadow rounded-lg">
						<h6 class="title">Results</h6>
						<div class="json-result">
							{% block content %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>